body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.video-container {
    display: block; 
    width: 320px;
    height: 220px;
    margin: 0 auto 5px auto;
    border-radius: 16px;
}

.shadowed-wrapper {
    width: 100%;
    height: 100%;


    background: rgb(235, 235, 235);
    padding: 12px;

    border-radius: 16px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.4);
}